/* page product */

.progressive-discount-banners {
    margin-bottom:1.875rem
}
.progressive-discount-banners img {
    max-width:100%;
    margin:0 auto;
    display:block
}

.video-button {
    background: #df2626;
    color: #fff;
    padding: 0 10px;
    display: inline-block;
    font-size: .875rem;
    font-weight: 500;
    line-height: 35px;
    cursor: pointer;
    -webkit-transition: ease-in-out .3s;
    -o-transition: ease-in-out .3s;
    transition: ease-in-out .3s;
    -webkit-box-shadow: 0 4px 8px transparent;
    box-shadow: 0 4px 8px transparent;
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 3;
}

.video-button:hover {
    -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, .1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, .1);
}

.video-button svg {
    vertical-align: middle;
    width: 16px;
    height: 16px;
    margin-right: 5px;
    fill: #fff;
}

.video-button span {

}

.list-seal-product {
    margin: 0 0 13px;
}

.list-seal-product .tag {
    padding: 0 15px;
    line-height: 1.6;
    white-space: nowrap;
    font-size: .75rem;
    text-transform: uppercase;
    color: var(--tag_color);
    margin-bottom: 5px;
    border-radius: 4px;
}

.list-seal-product .tag.new {
    background-color: var(--tag_lancamento_bg);
}

.list-seal-product .tag.featured {
    background-color: var(--tag_destaque_bg);
}

.list-seal-product .tag.shipping {
    background-color: var(--tag_frete_bg);
}

.list-seal-product .tag.discount {
    background-color: var(--tag_desconto_bg);
}

.list-seal-product .tag:not(:last-child) {
    margin-right: 10px;
}

.product-colum-left {
    width: calc(100% - 480px);
    padding-right: 3.115727002967359%;
}

.product-colum-right {
    width: 480px;
}

/* slide */

@media (min-width: 1025px){
    .swiper-pagination{
        display: none !important;
    }
}

.product-page .gallery .swiper-pagination-bullet {
    opacity: .2;
    transition: opacity ease-in-out .2s;
    width: 8px;
    height: 8px;
    margin: 0 2px;
    border-radius: 50%;
    background-color: var(--color_text_description);
}

.product-page .gallery .swiper-pagination-bullet.swiper-pagination-bullet-active {
    transform: scale(1);
    background-color: var(--color_text_description);
    opacity: 1;
}

.video-button {
    position: absolute;
    right: 0;
    top: 0;
    background-color: var(--bg_button_primary);
    transition: ease-in-out .2s;
    line-height: 38px;
    padding: 0 14px;
    color: var(--color_button_primary);
    z-index: 2;
    cursor: pointer;
    padding-top: 2px;
}

.video-button svg {
    width: 18px;
    height: 18px;
    margin-right: 10px;
    fill: var(--color_button_primary);
    vertical-align: -2px;
}

.product-page .cols {
    margin-bottom: 80px;
    align-items: flex-start;
}

.product-page .gallery {
    width: 100%;
    display: flex;
    position: relative;
    align-items: flex-start;
}

.product-page .gallery .click-to-zoom{
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: end;
    cursor: pointer;
    z-index: 2;
}

.product-page .gallery .click-to-zoom .info{
    width: 0;
    font-size: 12px;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    transition: ease-in-out 0.2s;
    color: var(--arrow_slide_color);
}

.product-page .gallery .click-to-zoom:hover .info{
    width: 100%;
    margin-right: 5px;
}

.product-page .gallery .click-to-zoom .zoom-icon{
    flex-shrink: 0;
    width: 30px;
    height: 30px;
    background: no-repeat center;
    background-image: var(--zoom_icon);
    background-size: 100%;
}


.product-page .gallery-thumbs{
    position: relative;
    margin: -30px 0;
    padding: 20px 0;
}

.product-page .nav-swiper {
    width: 152px;
    height: 695px;
    padding-right: 15px;
}

.product-page .nav-swiper .swiper-slide {
    padding: 10px 0;
    cursor: pointer;
    box-sizing: border-box;
    opacity: .5;
    transition: ease-in-out .2s;
    transition-property: opacity, border;
}

.product-page .nav-swiper .swiper-slide .thumb{
    border: solid 1px var(--color_border);
    height: 100%;
}

.product-page .featured-swiper .swiper-button-disabled, .product-page .featured-swiper .swiper-button-disabled {
    opacity: .5;
    visibility: visible;
}

.product-next,
.product-prev{
    background: no-repeat center;
    background-image: var(--arrow_slide);
    background-size: 100%;
}

.product-next {
    position: absolute;
    bottom: 0;
    z-index: 2;
    left: 0;
    right: 0;
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin: auto;
    transition: ease-in-out .2s;
    transform: rotate(90deg);
}

.product-prev {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 20px;
    height: 20px;
    cursor: pointer;
    z-index: 2;
    margin: auto;
    transform: rotate(-90deg);
}

.product-prev.swiper-button-disabled, .product-next.swiper-button-disabled {
    opacity: 0;
    visibility: hidden;
}

.product-page .nav-swiper .swiper-slide.swiper-slide-thumb-active {
    opacity: 1;
    border-color: transparent;
}

.product-page .nav-swiper .swiper-slide img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
}

.product-page .featured-swiper {
    width: calc(100% - 152px);
}

.product-page .featured-swiper .swiper-slide {
    background-color: #fff;
}

.product-page .featured-swiper .swiper-slide::before {
    content: '';
    display: block;
    padding-bottom: 100%;
}

.product-page .featured-swiper img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    cursor: move;
    background-color: #fff;
}

/* slide large  */

@media (max-width: 991px) {
    .fixed-modal {
        display: none!important
    }
    .visited-section {
        margin: 40px -5px;
    }
}

.fixed-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, .6);
    z-index: 14;
    transition: 333ms cubic-bezier(.4, 0, .22, 1)
}

.fixed-modal:not(.active) {
    opacity: 0;
    visibility: hidden
}

.fixed-modal .shad {
    position: absolute;
    height: 100%;
    width: 100%
}

.fixed-modal .slide-fixed {
    width: calc(100% - 120px);
    max-width: 1200px;
    max-height: 100%;
    overflow: unset;
}

.fixed-modal .slide-fixed img {
    display: block;
    margin: auto;
    max-height: calc(100vh - 80px);
    max-width: 100%;
    background-color: #fff;
}

.fixed-modal .prev {
    left: 20px
}

.fixed-modal .item {
    display: flex;
    align-items: center;
}

.fixed-modal .next {
    right: 20px
}

.fixed-modal .exit {
    position: absolute;
    right: 20px;
    top: 14px;
    width: 40px;
    height: 40px;
    border-radius: 6px;
    background: rgba(0, 0, 0, .6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    cursor: pointer;
    opacity: .8;
    transition: ease-in-out .3s;
    color: #fff;
    font-size: 26px;
}

.fixed-modal .exit::before {
    content: "�";
}

.fixed-modal .exit:hover {
    opacity: 1
}

.arrow-swip {
    position: absolute;
    top: 0;
    border-radius: 4px;
    bottom: 0;
    margin: auto;
    width: 40px;
    height: 84px;
    z-index: 3;
    background: #f7f7f7 no-repeat center;
    background-size: 1rem;
    cursor: pointer;
    right: -20px;
    transition: ease-in-out .3s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.375rem;
    color: var(--color_text_description);
}

.fixed-modal .swiper-container .next{
    transform: unset;
}

.arrow-swip::before {
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 511.995 511.995'%3E%3Cpath d='M381.039,248.62L146.373,3.287c-4.083-4.229-10.833-4.417-15.083-0.333c-4.25,4.073-4.396,10.823-0.333,15.083 L358.56,255.995L130.956,493.954c-4.063,4.26-3.917,11.01,0.333,15.083c2.063,1.979,4.729,2.958,7.375,2.958 c2.813,0,5.604-1.104,7.708-3.292L381.039,263.37C384.977,259.245,384.977,252.745,381.039,248.62z'/%3E%3C/svg%3E");
    display: block;
    background-size: 18px;
    width: 18px;
    height: 18px;
}

.arrow-swip:hover {
    background-color: #e9e9e9
}

.arrow-swip.prev {
    transform: rotate(180deg);
    left: -20px;
    right: auto
}

@media (max-width: 1210px) {
    .arrow-swip {
        width: 24px;
        height: 44px
    }
    .arrow-swip.prev {
        left: -6px
    }
    .arrow-swip.next {
        right: -6px
    }
}

/* end gallery */

.relative-area {
    position: relative;
}

#loading-product-container {
    display: none;
}

.produto-bonus {
    font-size: .75rem;
    display: block;
    margin: 20px 0;
}

.produto-bonus:empty {
    display: none;
}

.produto-bonus strong {
    font-weight: 600;
    padding-left: 4px;
}

.relative-area .product-name {
    font-size: 1.625rem;
    line-height: 1.27;
    margin-bottom: 20px;
    font-weight: 400;
    color: var(--color_name_product);
}

.relative-area .ref {
    font-size: 0.875rem;
    font-weight: 400;
    display: block;
    margin-top: 0.3125rem;
}

.relative-area .info-product {
    font-size: .75rem;
    font-weight: 400;
}

.relative-area .info-product + .info-product{
    margin-top: 0.3125rem;
}

.relative-area .info-product:empty {
    display: none;
}

.relative-area .info-product b,
.relative-area .info-product strong {
    font-weight: 700;
}

#produto_preco .color-tone-2+br {
    display: none;
}

#produto_preco .color-tone-2 {
    font-size: .875rem;
    font-weight: 500;
}

#produto_preco > .color-tone-2:first-child{
    display: block;
}

#produto_preco .precode+.color-tone-2.txt-por::before {
    content: '';
    display: block;
}

#produto_preco .precode+.color-tone-2.txt-por {
    display: inline;
}

#produto_preco .color-tone-2.txt-por {
    display: none;
    padding-right: 6px;
}

#produto_preco .PrecoPrincipal {
    font-size: 1.375rem;
    font-weight: 700;
    color: var(--preco_color_product);
}

#produto_preco #precoDe {
    display: inline-block;
    font-size: .875rem;
    position: relative;
}

#produto_preco #precoDe abbr {
    padding-left: 15px;
}

.currency {
    text-decoration: none;
}

.barra_cada+br {
    display: none;
}

#detalhes_formas {
    font-size: 0;
    cursor: pointer;
    display: none;
    color: var(--color_primary);
    margin-top: 5px;
}

#info_preco:not(:empty)+#detalhes_formas {
    display: block;
}

#detalhes_formas::before {
    content: 'Mais informa\00E7 \00F5 es';
    font-size: .75rem;
}

a#showPaymentMethods {
    display: none;
}

#info_preco {
    font-size: 1rem;
    display: block;
    font-weight: 700;
    color: var(--payment_color_product);
}

#info_preco .preco-avista {
    font-weight: 700;
}

#info_preco strong, #info_preco b {
    font-weight: 700;
}

#info_preco br:first-of-type {
    display: none;
}

#form_comprar {
    padding: 30px 20px 40px;
    background-color: var(--bg_form);
    display: block;
}

#form_comprar.unavailable{
    display: none;
}

#form_comprar:empty {
    display: none;
}

#acceptTerm {
    display: block;
    margin-top: 10px;
}

.advancedSearchFormBTimg {
    height: auto !important;
    width: auto !important;
}

.botao-commerce * {
    color: inherit !important;
}

.botao_tire_duvidas {
    display: inline-block;
}

.perguntasProdutoBTimg {
    background: var(--bg_button_primary);
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
}

.botao-comprar:not(.botao-sob-consulta) {
    line-height: 0;
    width: 100%;
    font-size: 1rem;
    font-weight: 700;
    background-color: var(--button_buy);
    color: var(--button_buy_color) !important;
}

.botao-comprar:not(.botao-sob-consulta)::before {
    content: 'COMPRAR AGORA';
    font-size: 1rem;
    line-height: 60px;
    display: block;
}

.botao-comprar:not(.botao-sob-consulta) .botao-commerce-img {
    display: none;
}

.botao-nao_indisponivel {
    text-align: unset !important;
    text-transform: unset !important;
    line-height: 0 !important;
    white-space: unset !important;
    display: block !important;
}

.botao-nao_indisponivel::before {
    content: "Produto indispon\00ED vel :(";
    font-size: 1.375rem;
    font-weight: 400;
    color: var(--color_name_product);
    display: block;
    line-height: 1.25;
    margin-bottom: 14px;
}

.botao-nao_indisponivel::after {
    content: "Preencha seu e-mail que te avisaremos quando o produto estiver dispon\00ED vel para compra!";
    display: block;
    font-size: 0.875rem;
    margin: 2px 0 0;
    color: var(--color_text);
    line-height: 1.25;
    font-weight: 400;
}

#quantidade label {
    display: block;
    position: relative;
}

#quantidade label::before {
    content: 'QNTD:';
    position: absolute;
    left: 12px;
    color: var(--color_text_description);
    font-size: 1rem;
    letter-spacing: 0.16px;
    font-weight: 700;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 16px;
    line-height: 16px;
}

#quantidade input {
    width: 130px;
    padding: 0 30px 0 60px;
    display: block;
    height: 62px;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    border-radius: 0;
    background-color: var(--input_quant);
    color: var(--color_text_description);
    border-color: var(--variant_border);
}

.produto-economize {
    font-size: .75rem;
    font-weight: 400;
    display: none;
}

#form_comprar .box-price {
    margin: 0 0;
    position: relative;
}

#product-form-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 0;
    width: 100%;
    max-width: 429px;
}

#product-form-box label {
    font-size: 0;
}

#product-form-box #bt_comprar {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

#product-form-box #bt_comprar img {
    max-width: 100%;
}

.increment-page {
    position: absolute;
    margin-top: -62px;
    height: 62px;
    left: 106px;
    display: flex;
    flex-direction: column;
    z-index: 2;
}

.increment-page .increment.low .icon {
    transform: rotate(90deg);
}

.increment-page .increment.add .icon {
    transform: rotate(-90deg);
}

.increment-page .increment.add {
    order: -1;
}

.increment-page .increment {
    height: 50%;
    width: 14px;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
}

.increment-page .increment .icon {
    background: var(--arrow_right) no-repeat center;
    background-size: 8px;
    width: 8px;
    height: 8px;
    display: block;
}

#preco>br:first-child {
    display: none;
}


.cor_variacao li {
    overflow: hidden;
    position: relative;
}

.cor_variacao li img {
    position: relative;
    display: block;
    -webkit-transition: ease-in-out .3s;
    -o-transition: ease-in-out .3s;
    transition: ease-in-out .3s;
    border: 2px solid var(--variant_border);
    border-radius: 0px;
    width: 42px;
    height: 42px;
    background-color: var(--bg_form);
    z-index: 2;
}

.cor_variacao li img.cor_selecionada {
    border-color: var(--variant_selected);
    z-index: 0;
}

.lista_cor_variacao li:not(.sem_estoque)::before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--variant_selected) var(--variant_selected_check_image) no-repeat center;
    background-position-x: 6px;
    position: absolute;
    bottom: -3px;
    left: -3px;
    z-index: 1;
}

.cor_variacao li > div {
    position: relative;
    min-width: 42px;
    height: 42px;
    line-height: 40px;
    text-align: center;
    font-size: .875rem;
    font-weight: 600;
    border: 2px solid transparent;
    transition: ease-in-out .3s;
    padding: 0 5px;
    background: var(--bg_button_primary);
    color: #fff;
    z-index: 2;
}

.cor_variacao li.sem_estoque>div {
    background: #e4e4e4;
    color: #707070;
}

.cor_variacao li>div.cor_selecionada {
    border-color: var(--variant_selected);
    color: #fff;
    z-index: 0;
}

.lista_radios:not(.listaVarMultipla) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    flex-direction: row !important;
    margin: 0 -5px;
}

.lista_radios:not(.listaVarMultipla) li {
    padding: 0 5px 5px;
    margin: 0;
    display: block;
}

.lista_radios:not(.listaVarMultipla) label {
    position: relative;
}

.lista_radios:not(.listaVarMultipla) label input {}

.lista_radios:not(.listaVarMultipla) label span {}

.lista_radios:not(.listaVarMultipla) label span:hover {}

.lista_radios:not(.listaVarMultipla) label input:checked+span {}

.lista-radios-input span[id]:first-child {
    display: block;
    margin: 10px 0;
    font-weight: 600;
}

#opcoes0 ul.lista_radios {
    display: block;
}

div[style="clear:both;"] {
    font-size: 0;
}

.produto-preco {
    margin: 40px 0;
}

/* frete */

.box-frete .produto-calcular-frete {
    display: none;
}

.box-frete {
    border-top: 1px solid var(--color_border);
    padding: 30px 20px;
    margin: 2px 0 0;
    background-color: var(--bg_form);
}

.submit-frete {
    height: 52px;
    width: 152px;
    background: var(--button_frete);
    color: var(--button_frete_color);
    font-size: .875rem;
    font-weight: 700;
    text-transform: uppercase;
    -webkit-transition: ease-in-out .3s;
    -o-transition: ease-in-out .3s;
    transition: ease-in-out .3s;
}

.submit-frete:hover {
    background: var(--button_frete_hover);
}

.new-frete .box-left {
    width: calc(100% - 152px);
}

.new-frete .box-left svg {
    fill: var(--button_frete);
    margin-right: 10px;
}

.new-frete .box-left input {
    height: 52px;
    padding-left: 20px;
    font-size: 1.125rem;
    font-weight: 700;
    letter-spacing: 0.28px;
    background-color: var(--input_frete_bg);
    border: 1px solid var(--color_border);
    border-right: 0;
    color: var(--input_frete_color);
    width: 100%;
}

.new-frete .box-left input::placeholder {
    opacity: .8;
    color: var(--input_frete_color);
}

.box-frete .text {
    font-size: .875rem;
    letter-spacing: 0.28px;
    white-space: nowrap;
    display: block;
    margin-right: 30px;
    color: var(--button_frete);
    margin-bottom: 4px;
}

.new-frete .box-left .icon {
    fill: var(--icon_frete_color);
    width: 31px;
    height: 31px;
    margin-right: 12px;
}

.box-frete .result:empty {
    display: none;
}

.product-lote {
    text-align: center;
    margin-bottom: 14px;
    font-size: .875rem;
}

.product-lote img {
    display: block;
    margin: auto;
    max-width: 100%;
}

.box-frete .result {
    margin-top: 20px;
    font-size: .75rem;
}

.box-frete .result table {
    width: 100%;
}

.box-frete .result th {
    font-weight: 600;
    white-space: nowrap;
}

.box-frete .result tr:nth-child(odd) th, .box-frete .result tr:nth-child(odd) td {
    background-color: rgba(0, 0, 0, 0.15);
}

.box-frete .result tr:nth-child(even) th, .box-frete .result tr:nth-child(even) td {
    background-color: rgba(0, 0, 0, 0.05);
}

.box-frete .result th, .box-frete .result td {
    padding: 5px;
}

.box-frete .result strong {
    white-space: nowrap;
}

.box-frete .result .icon {
    position: relative;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;
    margin: 20px auto;
}

.box-frete .result .load-css {
    padding: 15px 0;
}

.cor_variacao select {
    width: 100%;
    display: block;
    padding-left: 18px;
    font-size: .75rem;
    max-width: 350px;
}

.cor_variacao.passo2 {
    margin-top: 10px;
}

.listaVarMultipla {
    font-size: .875rem;
}

.listaVarMultipla li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
}

.listaVarMultipla li:not(:last-child) {
    margin-bottom: 10px;
}

.labelMultiVariacao {
    padding-right: 10px;
}

.labelQuantVariacao {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.listaVarMultipla .inputQuantVariacao {
    height: 42px;
    padding: 0 5px !important;
    width: 60px !important;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    margin-right: 5px;
}

#quantidade {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#estoque_variacao {
    font-size: .635rem;
    text-align: center;
    display: block;
    padding: 0 6px;
}

.blocoAlerta{
    display: block;
    margin: 0.3125rem 0;
    padding: 0.3125rem 0;
    color: #da0808;
    font-size: .75rem;
    font-weight: 400;
}

.tray-kit {
    border: 1px solid #e4e4e4;
    padding: 10px;
    margin: 0 0 20px 0;
    font-size: .875rem;
}

.tray-kit h3 {
    font-size: .875rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.tray-kit .tray-kit-item {
    margin-bottom: 10px;
    padding: 10px;
    border-top: 1px solid #e4e4e4;
}

.tray-kit .tray-kit-item>div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    padding-bottom: 8px;
}

.tray-kit-unity {
    position: absolute;
    bottom: -10px;
    left: 0;
    font-size: .75rem;
    width: 80px;
    text-align: center;
}

.tray-kit .tray-kit-image {
    width: 90px;
    padding-right: 10px;
}

.tray-kit .tray-kit-info {
    width: calc(100% - 90px);
}

.tray-kit .tray-kit-image img {
    max-width: 100%;
    display: block;
    margin: auto;
}

@media (max-width: 1100px) {
    .new-frete .box-left .text {
        display: none;
    }
    .new-frete .box-left input {
        width: calc(100% - 38px);
        font-size: .875rem;
    }
    .product-colum-left {
        padding-right: 15px;
    }
    .product-colum-right {
        width: 367px;
    }
    .product-colum-left {
        width: calc(100% - 367px);
    }
}

@media (max-width: 930px) {
    .box-col-product {
        display: block;
        max-width: 615px;
        margin: 10px auto 0;
    }
    .product-colum-left {
        width: auto;
        padding: 0;
    }
    .product-colum-right {
        width: auto;
        margin: 20px 0 0;
    }
}

@media (max-width: 767px) {
    .box-gallery .nav-images {
        display: none;
    }
    .box-gallery .image-show {
        width: 100%;
    }
    .box-gallery .image-show .discount-line {
        top: auto;
        bottom: 12px;
    }
    .submit-frete {
        font-size: .875rem;
    }
    .new-frete .box-left input {
        width: calc(100% - 38px);
    }
}

.image-show .slick-dots {
    text-align: center;
    height: 0;
    position: relative;
    top: -23px;
}

@media (min-width: 768px) {
    .image-show .slick-dots {
        display: none !important;
    }
}

/* editor post */

.page-info-product {
    margin: 40px 0 0;
    padding: 32px 0 0;
}

.page-info-product .title {
    font-size: 2rem;
    color: var(--title_list);
    font-weight: 400;
    margin-bottom: 35px;
    font-family: 'Lobster 1.3', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.page-info-product .title {
    font-size: 1.5rem;
}

.page-info-product .section-box:not(:first-child) {
    margin-top: 40px;
}

.page-info-product .section-box.comments {
    display: none;
}

.abasProduto {
    overflow: auto;
    padding: 0 10px 15px;
    margin: 0 -10px 15px;
}

.page-info-product .list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.page-info-product .list a {
    font-size: 1.125rem;
    font-weight: 600;
    opacity: .5;
    text-transform: uppercase;
}

.page-info-product .list li {
    padding-right: 5px;
}

.page-info-product .list li:not(:last-child) {
    padding-right: 30px;
}

.page-info-product .list .aberta a {
    opacity: 1;
}

.board_htm {
    width: 100%;
    overflow: hidden;
}

/* compre junto */

.compreJunto form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.compreJunto form .fotosCompreJunto {
    width: calc(100% - 245px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-right: 40px;
}

#ProdBlockCompreJunto #ProdAbas {
    display: none;
}

.compreJunto>li:nth-child(n+2) {
    margin-top: 40px;
}

.produto {
    width: 33.3333%;
    padding: 0 10px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.unidades_topo {
    font-size: .75rem;
    text-align: center;
    display: block;
}

.produto>span {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
}

.produto span>div, .produto span>a {
    display: block;
    position: relative;
    margin-bottom: 10px;
}

.produto span>div::before, .produto span>a::before {
    content: '';
    display: block;
    padding-bottom: 100%;
}

.produto img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    max-width: 90%;
    max-height: 90%;
}

.precoCompreJunto {
    width: 245px;
    padding-right: 10px;
}

.fotosCompreJunto .plus {
    width: 20px;
    font-size: 50px;
    position: relative;
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 0;
    align-items: center;
    z-index: 1;
}

.fotosCompreJunto .plus::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 260px;
    width: 1px;
    background-color: var(--bg_button_primary);
    z-index: -1;
}

.fotosCompreJunto .plus::before {
    content: '+';
    display: block;
    width: 20px;
    height: 44px;
    text-align: center;
    font-size: 1.25rem;
    line-height: 42px;
    border: 1px solid var(--bg_button_primary);
    color: var(--color_text);
    background: var(--bg_body);
}

.fotosCompreJunto .plus.to::before {
    content: '=';
}

.varCont {
    margin-bottom: 10px;
}

.varCont input[type='text'], .varCont select {
    width: 100%;
    display: block;
    height: 42px;
    padding-left: 14px;
    max-width: 280px;
}

.varTit {
    margin: 4px 0;
    font-weight: 600;
    font-size: .75rem;
}

.varCont+.varTit:not(.onVar) {
    display: none;
}

.comprejuto_preco {
    font-size: .75rem;
    display: none;
}

.comprejuto_preco span {
    font-size: .938rem;
}

.comprejunto_preco2 {
    font-size: .938rem;
    font-weight: 700;
    margin: 2px 0;
}

.comprejunto_preco2 strong:first-child {
    font-weight: 400;
    padding-right: 4px;
    font-size: .75rem;
}

.comprejunto_preco2 .PrecoPrincipal {
    color: var(--preco_color_product);
    font-weight: 700;
    font-size: 1.375rem;
    display: block;
}

.comprejunto_economize {
    font-size: .75rem;
    margin: 5px 0;
    display: none;
}

.botao-compre-junto:not(.botao-sob-consulta) {
    width: 100%;
    line-height: 0;
    font-size: 1rem;
    font-weight: 700;
    margin: 13px 0 0;
    max-width: 420px;
    background-color: var(--button_buy);
    box-shadow: 0 2px 5px rgba(0, 0, 0, .15);
}

.botao-compre-junto:not(.botao-sob-consulta):hover {
    background-color: var(--button_buy_hover);
}

.botao-compre-junto:not(.botao-sob-consulta) span {
    font-size: 0;
    display: block;
}

.botao-compre-junto:not(.botao-sob-consulta) span::before {
    content: 'COMPRAR JUNTO';
    font-size: 1rem;
    line-height: 52px;
    display: block;
}

.precoCompreJunto>div:first-child {
    font-size: 0;
}

.precoCompreJunto>div:first-child strong {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 5px;
    display: block;
    color: var(--color_name_product);
}

.compre-junto {
    margin-top: 60px;
}

#container-add-lista {
    font-size: .875rem;
    margin: 20px 0;
    text-align: center;
}

#container-add-lista a {
    font-size: 0;
}

.wishlist:hover a {
    color: var(--color_second);
}

#container-add-lista a::before {
    content: 'ADICIONAR AOS FAVORITOS';
    font-size: 12px;
    font-weight: 600;
}

#form_comprar .wishlist {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: -20px;
}

#form_comprar .wishlist svg {
    margin-right: 5px;
    fill: var(--color_text);
    -webkit-transition: color ease-in-out .3s;
    -o-transition: color ease-in-out .3s;
    transition: color ease-in-out .3s;
}

#form_comprar .wishlist:hover svg {
    fill: var(--color_second);
}

.page-listas_index .board h2 {
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 20px;
}

#tipos-listas h3 {
    font-size: 1rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
}

#lista_criar h2 {
    margin-top: 10px;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
}

#lista_criar input[size="40"], #lista_criar input[size="50"] {
    width: 100%;
    max-width: 300px;
}

.page-listas_criar .board {
    font-size: .875rem;
}

.page-listas_criar .board td {
    padding: 10px;
    word-break: break-all;
}

.page-print_lista .page-content h1 {
    font-size: 1.375rem;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
}

.page-print_lista .page-content h2 {
    font-size: 1rem;
}

.lista-produtos {
    text-align: center;
    display: inline-block;
    max-width: 340px;
    margin: 15px;
    width: 100%;
}

.lista-produtos .lista-produto-comprar input[type="image"] {
    background: url(../img/bt-lista.JPG) left top no-repeat;
    height: 0;
    padding: 18px 110px;
    width: 0;
}

.lista-produtos .lista-produto-qtde .refresh img {
    display: none;
}

.lista-produtos .lista-produto-qtde .refresh::before {
    content: '';
    height: 35px;
    width: 35px;
    background: url(../img/bt-atualizar.png) no-repeat;
    margin: 0 auto 5px;
    display: block;
}

.lista-imagem img {
    max-width: 100%;
}

.page-lista .board {
    margin: 20px 0;
}

.page-lista .board hr {
    margin: 20px 0;
}

.lista-produtos .qntd {
    border: 1px solid #e5e5e5;
    width: 80px;
    display: block;
    margin: 5px auto;
    height: 35px;
    text-align: center;
}

.page-navegacao_visitados hr {
    margin: 20px 0;
}

.page-navegacao_visitados .change {
    display: none;
}

.page-navegacao_visitados h2 {
    font-size: 1.125rem;
    margin: 20px 0;
}

.bts, .bts2 {
    padding: 4px 8px;
    height: 23px;
    text-align: center;
    line-height: 14px;
    font-size: .75rem;
    display: inline-block;
    border-radius: 20px;
    color: #fff;
    margin: 0 5px;
    background: var(--bg_button_primary);
}

.bts:hover, .bts2:hover {
    background: var(--bg_button_primary_hover);
}

.vitrineVisitados {
    margin: 0 -10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    font-size: .875rem;
}

.vitrineVisitados>li {
    padding: 10px;
    width: calc(100% / 3);
}

.nomeProd {
    margin-bottom: 10px;
    display: block;
}

.ranking.hreview-aggregate {
    margin: 5px 0;
}

.editComment li>a {
    display: block;
    width: 90px;
    height: 90px;
}

.editComment li>a img {
    display: block;
    margin: auto;
}

.editComment li {
    margin: 20px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.editComment h3 {
    font-size: .75rem;
    font-weight: 600;
    width: calc(100% - 100px);
    margin-bottom: 10px;
}

.editComment .bts {
    margin: 0 0 5px;
}

.editComment .ranking {
    font-weight: 600;
}

.editComment .relativity {
    width: calc(100%);
}

.editComment .relativity img {
    float: left;
    width: 90px;
    height: 90px;
    object-fit: none;
    object-position: center;
}

.editComment .relativity a~* {
    margin-right: 100px;
}

.editComment .change {
    font-size: .75rem;
    margin-top: 5px;
}

.consulta-product {
    font-size: .75rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.product-related {
    margin: 65px 0 0;
    padding: 1px 0 50px;
    background-color: var(--bg_body);
    margin-bottom: -60px;
    position: relative;
    z-index: 3;
}

@media (max-width: 1024px){

    .product-page  .gallery-thumbs .product-next,
    .product-page  .gallery-thumbs .product-prev{
        display: none;
    }

    .product-page .nav-swiper{
        display: none;
    }

    .product-page .featured-swiper {
        width: 100%;
        padding-bottom: 30px;
    }

    .product-page .featured-swiper .swiper-pagination{
        bottom: 0;
    }

    .product-page .gallery .click-to-zoom{
        display: none;
    }

    .product-related{
        margin: 30px 0 0 0;
        padding: 0;
    }

}

@media (max-width: 767px) {
    .page-info-product .list a {
        font-size: .938rem;
        white-space: nowrap;
    }
    .compreJunto form {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .compreJunto form .fotosCompreJunto {
        width: 100%;
        padding: 0 0 20px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .produto {
        width: 100%;
        max-width: 300px;
    }
    .fotosCompreJunto .plus {
        width: 100%;
        -webkit-transform: initial;
        -ms-transform: initial;
        transform: initial;
        text-align: center;
        line-height: .8;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .precoCompreJunto {
        width: 100%;
        padding: 0 10px;
    }
    .relative-area .product-name {
        font-size: 1rem;
        line-height: 1.25;
    }
    #lista_criar td {
        display: block;
        padding: 5px 0;
    }
    .vitrineVisitados>li {
        width: 100%;
    }
}

#preco_atual[value="0.00"]+#preco {
    margin-top: 30px;
}

#preco_atual[value="0.00"]+#preco br:first-of-type {
    display: none;
}

.botao-sob-consulta {
    font-size: 0;
    line-height: 0;
}

.botao-sob-consulta::before {
    content: "Produto sob consulta";
    font-weight: 700;
    font-size: 1.125rem;
    display: block;
    line-height: 1.25;
}

.botao-sob-consulta::after {
    content: "Preencha o nosso formul\00E1 rio de produtos sob consulta.";
    font-weight: 400;
    font-size: 0.875rem;
    display: block;
    line-height: 1.25;
}

.botao_tire_duvidas {
    margin-top: 25px;
    font-size: 0;
    line-height: 0;
}

.botao_tire_duvidas::before {
    content: "Preencher formul\00E1 rio";
    font-size: 0.875rem;
    display: block;
    line-height: 48px;
}

#coments h2 {
    font-size: 1.125rem;
    font-weight: 600;
}

#coments {
    font-size: .875rem;
}

#coments .botao-commerce {
    margin-top: 20px;
}

#email_coment {
    margin-bottom: 10px;
}

#nome_coment, #email_coment {
    margin-bottom: 10px;
    background: #fff;
    margin-left: 5px;
}

#coments a {
    text-decoration: underline;
}

.rateBlock .stars {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.rateBlock .starn {
    width: 14px;
    height: 14px;
    margin-right: 5px;
    cursor: pointer;
}

#coments h3 {
    font-size: .875rem;
    margin-bottom: 5px;
    font-weight: 600;
}

#coments .board {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

#coments .board>h2:first-child {
    margin-top: 40px;
}

#coments .blocoSucesso~* {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
}

.hreview-comentarios {
    padding: 20px;
    background: var(--bg_form);
    border-radius: 0.25rem;
}

.hreview-comentarios + .hreview-comentarios {
    margin-top: 20px;
}

.hreview-comentarios h3 {
    font-size: 1.125rem !important;
    font-weight: 700 !important;
    color: var(--color_primary);
}

.hreview-comentarios h4 {
    font-size: 0.75rem;
}

.hreview-comentarios h3 {
    font-size: 1rem !important;
    font-weight: 700 !important;
}

.hreview-comentarios .ranking {
    margin: 10px 0 5px;
    font-weight: 700;
    color: var(--color_second);
}

.hreview-comentarios .description {
    margin: 5px 0;
    font-size: 0.875rem;
    font-weight: 400;
}

#loading-product-container {
    z-index: 6;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#loading-product-container::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--bg_body);
    opacity: .6;
}

.relative-area .line-info {
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-between;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid var(--color_border);
}

.list-icons .icones {
    text-align: center;
    display: inline-block;
}

.list-icons {
    text-align: center;
}

.list-icons .icones::not(:first-child) {
    margin-left: 10px;
}

.list-icons br {
    display: none;
}

.list-icons img {
    padding: 2px;
    border: 1px solid #e0e0e0;
    max-width: 90px;
}

.carac-valor {
    display: block;
    font-size: .75rem;
}

.texto_variacao {
    font-size: .875rem;
    font-weight: 400;
    margin-bottom: 11px;
}

.texto_variacao h2 {
    font-weight: inherit;
    display: inline;
    font-size: inherit;
}

.texto_variacao #cor_nome {
    padding-left: 5px;
}

.box-variants {
    margin: 0 0 26px;
}

.box-variants:empty {
    display: none;
}

.cor_variacao ul, #opcoes0 ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.cor_variacao ul:not(.listaVarMultipla), #opcoes0 ul:not(.listaVarMultipla) {
    margin-left: -5px;
}

#opcoes0 ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.cor_variacao ul li {
    margin: 0 5px 5px;
    position: relative;
}

.cor_variacao ul li.sem_estoque::before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #929292 url("data:image/svg+xml,%0A%3Csvg fill='%23fff' viewBox='0 0 329.26933 329' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m194.800781 164.769531 128.210938-128.214843c8.34375-8.339844 8.34375-21.824219 0-30.164063-8.339844-8.339844-21.824219-8.339844-30.164063 0l-128.214844 128.214844-128.210937-128.214844c-8.34375-8.339844-21.824219-8.339844-30.164063 0-8.34375 8.339844-8.34375 21.824219 0 30.164063l128.210938 128.214843-128.210938 128.214844c-8.34375 8.339844-8.34375 21.824219 0 30.164063 4.15625 4.160156 9.621094 6.25 15.082032 6.25 5.460937 0 10.921875-2.089844 15.082031-6.25l128.210937-128.214844 128.214844 128.214844c4.160156 4.160156 9.621094 6.25 15.082032 6.25 5.460937 0 10.921874-2.089844 15.082031-6.25 8.34375-8.339844 8.34375-21.824219 0-30.164063zm0 0'/%3E%3C/svg%3E") no-repeat center;
    background-size: 8px;
    position: absolute;
    bottom: -3px;
    left: -3px;
}

#wrapper {
    -webkit-transform: inherit !important;
    -ms-transform: inherit !important;
    transform: inherit !important;
    padding: 0 !important;
}

#form_comprar .brinde_produto{
    margin-bottom: 20px;
}

#form_comprar .brinde_produto::before {
    content: 'Brinde';
    font-size: 0.875rem;
}

#form_comprar .brinde_produto #nomeBrinde{
    font-size: 0.875rem;
}

.brinde_lista {
    display: flex;
    flex-wrap: wrap;
    width: auto !important;
    justify-content: start;
    margin: 0 -5px;
}

.brinde_lista img {
    border: 2px solid #fff !important;
}

.brinde_lista img[style*="border: 2px"] {
    -webkit-box-shadow: 0 0 0 2px var(--color_primary);
    box-shadow: 0 0 0 2px var(--color_primary);
}

.brinde_lista span {
    display: block;
    cursor: pointer;
}

.brinde_lista li {
    margin-top: 5px;
    padding: 0 5px;
}

.brinde_detalhes .botao {
    position: relative;
    display: inline-block;
    cursor: pointer;
    z-index: 1;
}

.brinde_detalhes .botao::before {
    content: 'ESCOLHER';
    display: block;
    width: 100px;
    color: #fff;
    font-size: .75rem;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    line-height: 40px;
    text-align: center;
    font-size: .75rem;
    background-color: var(--color_primary);
}

.brinde_detalhes .botao img {
    opacity: 0;
    display: block;
    width: 100px;
    height: 40px;
}

.varTit {
    font-size: .75rem;
    font-weight: 400;
}

.varTit * {
    font-size: inherit;
    font-weight: inherit;
}

.load-css .icon {
    left: 50%;
    top: 50%;
    position: absolute;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    width: 30px;
    height: 30px;
}

.load-css .icon::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 3px solid #9c9c9c;
    border-radius: 50%;
}

.load-css .icon::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 3px solid #000;
    border-right-color: transparent;
    -webkit-animation: rotate infinite linear .6s;
    animation: rotate infinite linear .6s;
    border-radius: 50%;
}

@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/* add  */

.modal-theme.comments-modal .box-center {
    max-width: 500px;
    width: 100%;
}

.section-box.comments h2 {
    font-size: 1.125rem;
    color: var(--color_primary);
    text-align: center;
}

.section-box.comments {
    display: flex;
    flex-direction: column;
}

.section-box.comments div.title {
    display: none;
}

.section-box.comments .title+h2 {
    margin-top: 30px;
}

.section-box.comments [data-logged-user="false"]:not(.tray-hide) {
    text-align: center;
    display: block;
}

.section-box.comments .botao-commerce {
    display: block;
    width: 200px;
    margin: 20px auto 0;
}

@media (min-width: 992px) {
    .page-search .page-content, .page-catalog .page-content {
        padding-top: 40px;
    }
}

#ProdAbas li {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 20px;
    color: var(--title_list);
    text-align: center;
    margin-bottom: 40px;
}

.page-noticia #ProdBlock.prodBox {
    display: block;
    margin-top: 40px;
}

#listaNoticiaProdutos {
    display: flex;
    flex-wrap: wrap;
}

#listaNoticiaProdutos li {
    width: 25%;
    position: relative;
}

#produto_imagem {
    float: left;
}

#produto_imagem~* {
    margin-left: 100px;
}

#produto_comprar {
    font-size: 0.875rem;
}

#produto_comprar a img {
    display: none;
}

#produto_comprar a::before {
    content: "Ver detalhes";
    padding: 7px 14px;
    font-weight: 700;
    font-size: 0.875rem;
    text-transform: uppercase;
    color: #fff;
    border-radius: 5px;
    background-color: var(--bg_button_primary);
    display: inline-block;
    margin: 5px 0 6px;
}

#produto_comprar a::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#produto_comprar .precoAvista {
    font-size: 1.25rem;
    font-weight: 700;
}

#produto_dados h3 {
    font-size: .875rem;
}

#produto_dados p {
    display: none;
}

@media (max-width: 1200px) {
    #listaNoticiaProdutos li {
        width: 33.33333%;
        margin-bottom: 20px;
    }
}

@media (max-width: 767px) {
    #listaNoticiaProdutos li {
        width: 50%;
    }
}

@media (max-width: 480px) {
    #listaNoticiaProdutos li {
        width: 100%;
    }
}

/* modal */

.modal-box .title {
    font-weight: 700;
    font-size: 1.125rem;
    text-transform: uppercase;
    display: block;
}

.modal-box .image img {
    max-height: 400px;
    display: block;
    max-width: none;
}

@media (max-width: 991px) {
    .modal-box .image {
        display: none;
    }
}

.modal-box .box-text {
    font-size: 1rem;
    line-height: 1.38;
    padding: 30px;
    text-align: center;
    background: linear-gradient(to left, var(--header_top), var(--header_top_second));
    color: var(--header_text_top);
    width: 350px;
    min-height: 350px;
}

.modal-box .box-text .text-content {
    max-width: 266px;
    margin: 12px auto;
}

.modal-box .logo img {
    max-width: 200px;
    max-height: 118px;
    display: block;
}

.modal-box input {
    max-width: 230px;
    width: 100%;
    display: block;
    margin: auto;
    height: 35px;
    text-align: center;
    margin-bottom: 8px;
}

.modal-box .news-button {
    color: #fff;
    background-color: var(--bg_button_primary_hover);
    border-radius: 20px;
    text-align: center;
    width: 120px;
    height: 35px;
    font-size: 11px;
    font-weight: 400;
    cursor: pointer;
    transition: ease-in-out .2s;
    margin-top: 8px;
}

.modal-box .news-button.load {
    pointer-events: none;
}

.modal-box .news-button.load::after {
    content: '';
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 3px solid #fff;
    border-right-color: transparent;
    animation: rotate infinite linear .8s;
    margin-left: 6px;
    vertical-align: -2px;
}

.modal-box .news-button:hover {
    background-color: var(--bg_button_primary_hover);
}

.success-news {
    font-size: 1rem;
    opacity: 0;
    transform: scale(.4);
    margin-bottom: 20px;
}

.success-news.show {
    transition: cubic-bezier(.54, -.65, .48, 1.64) .3s;
    transform: scale(1);
    opacity: 1;
}

.success-news svg {
    width: 90px;
    height: 90px;
    fill: var(--header_icon_top);
    display: block;
    margin: 0 auto 0;
}

.visited-section {
    margin: 60px 0 0;
}

.visited-section .visitados_produtos {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.visited-section #produtos {
    display: flex;
    width: calc(100% - 220px);
    margin-left: -10px;
    flex-wrap: wrap;
}

.visited-section #produtos ul {
    padding: 0 10px;
    margin: 10px 0;
}

.visited-section #produtos ul li {
    background: var(--bg_box_product);
    color: var(--color_box_product);
    padding-right: 5px;
    width: 300px;
}

.visited-section #produtos ul li::after {
    content: '';
    clear: both;
    display: block;
}

.visited-section #produtos ul li>a {
    float: left;
    height: 90px;
    width: 90px;
    display: block;
}

.visited-section #produtos ul li> :nth-child(n+2) {
    margin-left: 100px;
    display: block;
}

.visited-section .ValoresLista {
    font-size: 0.75rem;
}

.visited-section .ValoresLista .precode {
    text-decoration: line-through;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.visited-section .ValoresLista .oculta_destaque {
    display: none;
}

.visited-section .ValoresLista .precoAvista {
    font-weight: 700;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.visited-section .ValoresLista strong {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.visited-section #produtos img {
    max-height: 90px;
    display: block;
    margin: auto;
}

.visited-section .NomeProdLista {
    font-size: 0.875rem;
    margin: 10px 0;
    line-height: 1.3;
    display: block;
}

.paginacao_ajax {
    order: 2;
    width: 200px;
}

.clearVisiteds, #visitados_itens {
    display: none;
}

.visited-section .total_produtos, .visited-section .paginacao_ajax_prod {
    font-size: 14px;
}

#linksPag a {
    display: inline-block;
    line-height: 26px;
    width: 26px;
    text-align: center;
    color: #fff;
    background: var(--bg_button_primary);
    padding: 0 4px;
    margin: 0 4px;
}

#linksPag a:not(.pageON) {
    background: transparent;
    color: var(--color_text);
}

.visited-section .product{
    padding-bottom: 12px;
}

@media (max-width: 767px) {
    .visited-section .visitados_produtos {
        flex-direction: column;
        align-items: center;
    }
    .visited-section #produtos {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .paginacao_ajax {
        text-align: center;
        margin-top: 30px
    }
}

.product-progressive-discount{
    background-color: var(--bg_form);
    margin: 1.25rem 0 0.125rem;
    padding: 0.9375rem 1.25rem;
    font-weight: 500;
    border-radius: 2px;
}

.product-progressive-discount .title{
    display: block;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
}

.product-progressive-discount .discounts{
    font-size: 0.875rem;
}

.product-progressive-discount .discounts .discount{
    padding: 0.1875rem 0;
}

.product-progressive-discount .discounts:not(.text-center){
    margin-top: 0.9375rem;
}

.product-progressive-discount .discounts.text-center .discount{
    text-align: center;
}

.product-progressive-discount .tooltip{
    display: inline-block;
    position: relative;
    vertical-align: middle;
    margin-left: 5px;
}

.product-progressive-discount .tooltip .icon-help{
    fill: var(--color_primary);
    cursor: pointer;
    width: 16px;
    height: 18px;
}

.product-progressive-discount .tooltip-content{
    position: absolute;
    width: 200px;
    left: 50%;
    padding: 0.625rem;
    font-size: 12px;
    font-weight: 400;
    border-radius: 4px;
    background-color: var(--bg_body);
    color: var(--color_text);
    box-shadow: 0 4px 8px rgba(0,0,0, 0.11);
    transform: translateX(-50%);
    opacity: 0;
    visibility: hidden;
    transition: ease-out 0.2s;
}

.product-progressive-discount .tooltip-content::before{
    content: '';
    position: absolute;
    top: -4px;
    left: 50%;
    width: 8px;
    height: 4px;
    background-color: var(--bg_body);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    transform: translateX(-50%);
}

.product-progressive-discount .tooltip:hover .tooltip-content{
    opacity: 1;
    visibility: visible;
}

.modal-theme.comments-modal .title-section-comments{
    margin-bottom: 1.875rem;
    font-size: 1.75rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: var(--title_list);
}

.modal-theme.comments-modal .customer-comments .no-comments{
    text-align: center;
    display: block;
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
}

.modal-theme.comments-modal .customer-comments + .comments-form{
    margin-top: 2.5rem;
}

.modal-theme.comments-modal .comments-form h2{
    margin-bottom: 0.9375rem;
}

.modal-theme.comments-modal .comments-form  #form-comments{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
}

.modal-theme.comments-modal .comments-form #form-comments label{
    margin-bottom: 0.9375rem;
    font-size: 0.875rem;
}

.modal-theme.comments-modal .comments-form #form-comments label h3{
    margin-top: 0;
}

.modal-theme.comments-modal .comments-form #form-comments #nome_coment,
.modal-theme.comments-modal .comments-form #form-comments #email_coment {
    display: block;
    width: 100%;
    margin: 5px 0 0 0;
}

.modal-theme.comments-modal .comments-form #form-comments h5{
    margin-top: -0.625rem;
}

.modal-theme.comments-modal .comments-form #form-comments h3{
    font-size: .875rem;
    margin: 1.25rem 0 0 0;
}

.modal-theme.comments-modal .comments-form .blocoSucesso{
    margin: 0;
    text-align: center;
}

.modal-theme.comments-modal .comments-form .rateBlock .stars{
    align-items: center;
}

.modal-theme.comments-modal .comments-form .nota.ajuste-nota{
    margin-top: 0.1875rem;
    font-weight: 400;
    font-size: 14px;
}

@media (max-width: 1024px){
    .product-progressive-discount .tooltip{
        display: none;
    }
}

.show-message {
    display: block !important;
}

