{% set items = [] %}

{% for i in 1..5 %}

    {% set position    = attribute(settings, 'icon_'~i~'_position'     ) %}
    {% set title       = attribute(settings, 'linha_fio_title_'~i      ) %}
    {% set icon        = attribute(settings, 'linha_fio_icon_'~i       ) %}
    {% set description = attribute(settings, 'linha_fio_description_'~i) %}

    {% if title %}
        {% set items = items | merge({ (position ~ '_') : {
            "position"    : position,
            "title"       : title,
            "icon"        : icon,
            "description" : description
        }}) %}
    {% endif %}

{% endfor %}

{% set items = items | sort %}

<div class="banner-info">
    <div class="container">
        <div class="{% if utils.is_mobile %} slide swiper-container {% else %} open_desk flex {% endif %}">

            {% if utils.is_mobile %}
                <div class="swiper-wrapper">
            {% endif %}

            {% for item in items %}
                <div class="item {% if utils.is_mobile %} swiper-slide {% endif %}">
                    <div class="line flex justify-center align-center">

                        {% if item.icon %}
                            <span class="border-img">
                                <img class="icon {{ utils.is_mobile ? ' swiper-lazy' : 'lazyload' }}" data-src="{{ asset(item.icon) }}?{{ utils.assets_version }}" alt="{{ item.title }}">
                            </span>
                        {% endif %}

                        <span class="text">
                            <span class="featured">{{ item.title }}</span>
                            {{ item.description }}
                        </span>

                    </div>
                </div>
            {% endfor %}

            {% if utils.is_mobile %}            
                </div>
                <div class="prev arrow-icon"></div>
                <div class="next arrow-icon"></div>
            {% endif %}
            
        </div>
    </div>
</div>