{% if settings.brands_active %}

    {% set brands = [] %}

    {% for i in 1..12 %}

        {% set position = attribute(settings, 'brand_' ~ i ~ '_position') %}
        {% set link     = attribute(settings, 'brand_' ~ i ~ '_url'     ) %}
        {% set img      = attribute(settings, 'brand_' ~ i ~ '_image'   ) %}

        {% if img %}
            {% set brands = brands | merge({ (position ~ '_') : {
                "position" : position,
                "img"      : img,
                "link"     : link
            }}) %}
        {% endif %}

    {% endfor %}

    {% set brands = brands | sort %}

    {% if brands | length > 0 %}
        <div class="section-brands">
                <div class="swiper-container slide-brand">
                    <div class="list swiper-wrapper {% if brands|length < 6 and not utils.is_mobile %}block-center{% endif %}">
                        {% for brand in brands %}
                            <div class="swiper-slide">

                                {% if brand.link %}
                                    <a href="{{ brand.link }}" class="box-brand">
                                        <img class="swiper-lazy" data-src="{{ asset(brand.img) }}" alt="Brand {{ loop.index }}">
                                    </a>
                                {% else %}
                                    <div class="box-brand">
                                        <img class="swiper-lazy" data-src="{{ asset(brand.img) }}" alt="Brand {{ loop.index }}">
                                    </div>
                                {% endif %}

                            </div>
                        {% endfor %}
                    </div>
                    <div class="prev arrow-icon"></div>
                    <div class="next arrow-icon"></div>
                </div>
            </div>
        </div>
    {% endif %}

{% endif %}