<div class="catalog-cols flex">
    {% if settings.col_lateral %}
    <div class="sidebar-category">
        {% element 'smartfilter' %}
    </div>
    {% endif %}
    <div class="col-content">
        {% element 'snippets/breadcrumb' %}
        {% if banner.title %}
        <div class="catalog-header">
            <div class="banner">
                <div class="{{ banners.title.type == 'javascript' ? 'slide-catalog' }}">
                {% if banners.title.type == "javascript" %}
                 <div class="swiper-container">
                        <div class="swiper-wrapper">
                    {% for slide in banners.title.slides %}
                    <div class="item swiper-slide">
                        {% if slide.link %}
                        <a href="{{ slide.link }}" target="{{ slide.target }}">
                            <img class="swiper-lazy" data-src="{{ slide.image }}" alt="banner">
                        </a>
                        {% else %}
                        <a>
                            <img class="swiper-lazy" data-src="{{ slide.image }}" alt="banner">
                        </a>
                        {% endif %}
                    </div>
                    {% endfor %}
                    </div>
                    </div>
        
                {% else %}
                    <div class="item">

                        {% set link = banners.title.link ? banners.title.tracked_link : null %}
                        <a {% if link %} href="{{ link }}" target="{{ banners.title.target }}" {% endif %}>
                            <img src="{{ banners.title.src }}" alt="banner">
                        </a>

                    </div>
                {% endif %}
                </div>
        
            </div>
        </div>
        {% endif %}
        <div class="bar-info-catalog flex justify-between {{ products|length > 0 ? '' : 'null' }}">
            
            {% if search.word %}
            <h1 class="catalog-name">{{ search.word }}</h1>
            {% else %}
            <h1 class="catalog-name">Todos os produtos</h1>
            <h1 class="catalog-name">{{ category.name }}</h1>
            {% endif %}
            {% if products|length > 0 %}
            <div class="system-filter flex justify-center">
                {% if settings.compare %}
                    <a href="/loja/comparador.php?loja={{store.id}}&IdDep={{category.id}}" class="button-compare">{{ Translation("comparar_produto") }}</a>
                {% endif %}
                {% if settings.col_lateral %}
                    <div class="button-filter">Filtrar</div>                            
                {% endif %}
                {% element 'snippets/filter' {
                    'brands': category.brands
                } %}
            </div>
            {% endif %} 
        </div>
        {% if category.small_description %}
        <div class="description">{{ category.small_description }}</div>
        {% endif %}
        {% if products|length > 0 %}
        
        <div class="catalog-content">
            {% element 'showcase-catalog' {
                "products": products
            } %}
        </div>
    
        <div class="catalog-footer pagination">
            {% element 'snippets/paginate' %}
        </div>
    
    {% else %}
        <div class="catalog-empty">
            <p>): {{ Translation('nenhum_resultado') }}</p>
        </div>
    {% endif %}
    </div>
</div>
